* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


  .container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(238, 160, 160, 1);
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px 10px 30px;
    height: 63px;
    border-radius: 20px 0px 20px 20px;
    background-color: white;
  }

  .input input {
    font-size: 14px;
    width: 100%;
    border: none;
  }

  .input input:focus {
    border: none;
    outline: none;
  }

  .input button {
    font-size: 12px;
    color: rgba(143, 143, 143, 1);
    background-color: white;
    margin-right: 5px;
    width: 100px;
    height: 100%;

    border: 1px solid rgba(143, 143, 143, 1);
    border-radius: 15px;
    min-width: 50px;
    padding: 10px 15px 10px 15px;

  }

  .task-body {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
  }

  .task-frame {
    overflow-y: scroll;
    height: 100%;
    list-style: none;
    border-radius: 15px;
    width: 100%;
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .task-frame .list {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #F9DDDD;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    padding: 10px;
  }

  .task-frame .list.active {
    animation: ActiveLi 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: rgba(221, 249, 228, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    padding: 10px;
  }

  .task-frame .center {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .left {
    height: 100%;
    display: flex;
  }

  .left .button {
    display: flex;
    cursor: pointer;
    width: 34px;
    height: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(190, 190, 190, 1);
  }

  .left .button .circle {
    background-color: rgba(225, 134, 134, 1);
    width: 15px;
    height: 15px;
    border-radius: 20px;
  }

  .left .button.active {
    animation: Active 0.3s ease-in-out;
    display: flex;
    justify-content: end;
    cursor: pointer;
    width: 34px;
    height: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(190, 190, 190, 1);
  }

  .left .button .circle.active {
    animation: ActiveCircle 0.3s ease-in-out;
    background-color: rgba(160, 238, 181, 1);
    width: 15px;
    height: 15px;
    border-radius: 20px;
  }

  .center {
    font: 16px;
    color: rgba(0, 0, 0, 0.65);
  }

  .right button {
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
    background-color: #EEA0A0;
    height: 44px;
  }

  @keyframes ActiveLi {
    from {
      background-color: rgb(249, 221, 221);
    }

    to {
      background-color: rgb(221, 221, 221);
    }
  }

  @keyframes ActiveCircle {
    from {
      background-color: rgba(225, 134, 134, 1);
    }

    to {
      background-color: rgba(160, 238, 181, 1);
    }
  }

  @keyframes Active {
    from {
      justify-content: start;
    }

    to {
      justify-content: end;
    }
  }
